<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Voting App</title>

  <link href="../public/main.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="../public/chartjs-2.6.0.min.js"></script>
</head>
