li + .list-btn {
  border-color: #ddd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-btn:hover {
  padding-top: 5px;
  margin-top: 1px;
}

.drop ul {
  list-style: none;
  padding-left: 15px;
}

.drop ul > li > a {
  padding: 10px 0;
}

.drop ul li {
  padding-left: 15px;
}

.drop ul li.active {
  background: #ddd;
}

.drop > a:hover {
  color: #777 !important;
  cursor: default;
}

.drop li > a:hover {
  background: transparent;
  color: #333;
}

.drop a {
  text-decoration: none;
  display: block;
  color: #777;
  transition: .3s background-color;
}

@media screen and (min-width: 768px) {
  .drop ul {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 160px;
    white-space: nowrap;
    padding: 5px 0;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

  .navbar-right .drop ul {
    right: 0;
  }

  .drop:hover {
    background: #eee;
  }

  .drop:hover ul {
    display: block;
  }

  .drop ul li {
    display: block;
    padding-left: 0;
  }

  .drop ul > li > a {
    padding: 5px 15px;
  }

  .drop ul > li:hover > a {
    background: #f8f8f8;
  }
}

.login-btns {
  padding: 30px 0;
  max-width: 500px;
  margin: 0 auto;
}

input.takes:checked + label {
  color: green;
  font-style: italic;
}
input.gives:checked + label {
  color: orange;
  font-style: italic;
}
.panel-list {
  margin: -15px;
}

.panel-list-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel > .list-group .list-group-item .list-group .list-group-item {
  border-width: 1px;
} 

.panel > .list-group .list-group-item .list-group .list-group-item:last-child {
  border-bottom: 1px solid #ddd;
} 

@media(max-width:767px){
  .request-btns-push-left {
    padding-right: 130px;
  }
}

.request-btns {
  position: absolute;
  right: 16px;
  top: 12px;
}

.warning {
  color: orange;
}

.success {
  color: green;
}

.list-item-delete {
  height: 22px;
  width: 22px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
