code {
  background: #d0d0d5;
}

.container {
  display: flex;
  flex-direction: column;
}

.form-container {
  max-width: 95%;
}

textarea {
  width: 100%;
}

#user-stories {
  font-size: 1.2em;
}

#error-msg {
  color: red;
  display: inline;
  margin-left: 10px;
}

#sudoku-grid {
  margin-left: 20px;
  text-align: center;
  display: inline;
}

.grid {
  border: 3px solid;
  border-spacing: 0;
}

td {
  border: 1px solid;
  padding: 0.3em;
}

input[type="text"] {
  border: 0px;
  width: 2em;
  height: 2em;
  text-align: center;
}

.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .F1, .F2, .F3, .F4, .F5, .F6, .F7, .F8, .F9 {
  border-bottom: 3px solid;
}

.A3, .B3, .C3, .D3, .E3, .F3, .G3, .H3, .I3, .A6, .B6, .C6, .D6, .E6, .F6, .G6, .H6, .I6 {
  border-right: 3px solid;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .form-container {
    align-self: flex-end;
  }
}
