/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
	color: #2574A9;
}
