.border {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

#sampleui {
  max-width: 450px;
  margin-left: 5%;
  height: 100%;
}

#sampleposting {
  max-width: 450px;
  text-align: center;
  margin-left: 5%;
}

#userstories {
  margin-left: 5%;
}

form {
  padding: 5px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  margin-bottom: 5px;
}
