* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  font-size: 1.2rem;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.id {
  font-size: 10.5px;
}

#submitNewThread {
  margin: 50px;
}