extends layout
block content
  .login-btns
    a.btn.btn-lg.btn-block.btn-social.btn-github(href='/auth/github' alt='login with github')
      span.fa.fa-github
      | Sign in with Github
  //
    a.btn.btn-lg.btn-block.btn-social.btn-google(href='/auth/google' alt='login with google')
      span.fa.fa-google
      | Sign in with Google
        
  //
    a.btn.btn-lg.btn-block.btn-social.btn-linkedin(href='/auth/linkedin' alt='login with linkedin')
      span.fa.fa-linkedin
      | Sign in with LinkedIn